# üß™ ETL Phase 1: Extract

## üìÅ Objective
In this notebook, we begin the ETL (Extract, Transform, Load) pipeline by extracting data from two CSV files:
- `raw_data.csv`
- `incremental_data.csv`

The goal is to:
- Load and preview both datasets
- Inspect their structure and contents
- Identify missing values, duplicates, and any suspicious patterns
- Save clean copies to the `/data/` directory for further processing

## üì• Step 1: Load Datasets
We use the `pandas` library to load both CSV files into dataframes.

In [3]:
import pandas as pd
import os

# Create folder structure if it doesn't exist
os.makedirs("data", exist_ok=True)

# Load raw_data.csv
raw_df = pd.read_csv("raw_data.csv")

## üëÄ Step 2: Preview the Data
We use `.head()` and `.info()` to inspect the first few rows and the overall structure of the data

In [5]:
print("Raw Data - First 5 Rows:")
display(raw_df.head())

print("\nRaw Data - Info:")
print(raw_df.info())

# Load incremental_data.csv
incremental_df = pd.read_csv("incremental_data.csv")
print("\nIncremental Data - First 5 Rows:")
display(incremental_df.head())

print("\nIncremental Data - Info:")
print(incremental_df.info())

Raw Data - First 5 Rows:

   order_id customer_name product  quantity  unit_price  order_date region
0         1         Diana  Tablet       NaN       500.0  2024-01-20  South
1         2           Eve  Laptop       NaN         NaN  2024-04-29  North
2         3       Charlie  Laptop       2.0       250.0  2024-01-08    NaN
3         4           Eve  Laptop       2.0       750.0  2024-01-07   West
4         5           Eve  Tablet       3.0         NaN  2024-03-07  South

Raw Data - Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       100 non-null    int64
 1   customer_name  99 non-null     object
 2   product        100 non-null    object
 3   quantity       74 non-null     float64
 4   unit_price     65 non-null     float64
 5   order_date     99 non-null     object
 6   region         75 non-null     object
dtypes: float64(2), int64(1), object(4)
memory usage: 5.6+ KB
None

Incremental Data - First 5 Rows:

   order_id customer_name product  quantity  unit_price  order_date   region
0       101         Alice  Laptop       NaN       900.0  2024-05-09  Central
1       102           NaN  Laptop       1.0       300.0  2024-05-07  Central
2       103           NaN  Laptop       1.0       600.0  2024-05-04  Central
3       104           NaN  Tablet       NaN       300.0  2024-05-26  Central
4       105         Heidi  Tablet       2.0       600.0  2024-05-21    North

Incremental Data - Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       10 non-null     int64
 1   customer_name  4 non-null      object
 2   product        10 non-null     object
 3   quantity       6 non-null      float64
 4   unit_price     10 non-null     float64
 5   order_date     10 non-null     object
 6   region         8 non-null      object
dtypes: float64(2), int64(1), object(4)
memory usage: 692.0+ bytes
None

## üîé Step 3: Observations
Here we examine the following:
- Presence of missing values
- Number of duplicate rows
- Suspicious columns or irregular entries

In [7]:
# Observations
print("\nObservations:")
print(f"- raw_data has {raw_df.isnull().sum().sum()} missing values.")
print(f"- incremental_data has {incremental_df.isnull().sum().sum()} missing values.")
print(f"- raw_data has {raw_df.duplicated().sum()} duplicate rows.")
print(f"- incremental_data has {incremental_df.duplicated().sum()} duplicate rows.")

Observations:
- raw_data has 88 missing values.
- incremental_data has 12 missing values.
- raw_data has 1 duplicate rows.
- incremental_data has 0 duplicate rows.

## üíæ Step 4: Save Raw Copies
Finally, we store the loaded datasets into the `/data/` folder to preserve the original extracted form of the data for later stages in the ETL pipeline.

In [9]:
# Save raw copies to data/
raw_df.to_csv("data/raw_data.csv", index=False)
print("'raw_data.csv' saved successfully!")
incremental_df.to_csv("data/incremental_data.csv", index=False)
print("'incremental_data.csv' saved successfully!")

'raw_data.csv' saved successfully!
'incremental_data.csv' saved successfully!